<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>fc-thinkphp: 这是一个使用阿里云函数计算 php runtime搭建serverless thinkphp6.0项目的插件，只需要在函数计算的http触发器入口函数添加几行代码就能让thinkphp6.0运行在函数计算的php运行环境下。</title>
  <link href="https://cdn.staticfile.org/github-markdown-css/4.0.0/github-markdown.min.css"
    media="screen"
    rel="stylesheet"/>
</head>
<body>
<div style="width:1040px;padding: 0 20px;margin: 0 auto;">
  <div style="font-size: 16px;padding: 1rem 2rem 1rem 2rem;">
    
    <h2>
      测试
    </h2>
    
    <p>
      <span>当前运行模式:{$sapi}&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
    </p>
    <p>
      <a href="/info" target="_blank">查看当前函数计算 phpinfo();</a>
    </p>
    <p>
      <a href="/log" target="_blank">日志服务</a>
    </p>
    
    <p>
      <a href="/upload" target="_blank">上传测试</a>
    </p>
    <div class="file_content markdown-body">
      <h1>
        <a id="fc-thinkphp" class="anchor" href="#fc-thinkphp"></a>fc-thinkphp</h1>
      <p>这是一个使用阿里云函数计算 php runtime搭建serverless thinkphp6.0项目的插件，只需要在函数计算的http触发器入口函数添加几行代码就能让thinkphp6.0运行在函数计算的php运行环境下。</p>
      <p>示例：<a href="http://test-think.oldmen.cn/">http://test-think.oldmen.cn/</a></p>
      <h2>
        <a id="快速开始" class="anchor" href="#%E5%BF%AB%E9%80%9F%E5%BC%80%E5%A7%8B"></a>快速开始</h2>
      <p>首先在thinkphp6.0项目中安装插件：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line">composer require liuwave/fc-thinkphp</span></pre></div></div>
      <p>修改thinkphp项目的入口文件<code>/tp/public/index.php</code>(仅在cgi模式下需要修改(支持cli模式，默认cgi模式)):</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="cp">&lt;?php</span></span>
<span id="LC2" class="line"></span>
<span id="LC3" class="line"><span class="c1">// [ 应用入口文件 ]</span></span>
<span id="LC4" class="line"><span class="kn">namespace</span> <span class="nn">think</span><span class="p">;</span></span>
<span id="LC5" class="line"></span>
<span id="LC6" class="line"></span>
<span id="LC7" class="line"><span class="k">require</span> <span class="k">__DIR__</span> <span class="o">.</span> <span class="s1">'/../vendor/autoload.php'</span><span class="p">;</span></span>
<span id="LC8" class="line"></span>
<span id="LC9" class="line"><span class="c1">// 执行HTTP应用并响应</span></span>
<span id="LC10" class="line"><span class="c1">// $http = (new App())-&gt;http;</span></span>
<span id="LC11" class="line"><span class="nv">$app</span><span class="o">=</span><span class="k">new</span> <span class="nx">App</span><span class="p">();</span></span>
<span id="LC12" class="line"><span class="nv">$app</span><span class="o">-&gt;</span><span class="na">setRuntimePath</span><span class="p">(</span><span class="nb">getenv</span><span class="p">(</span><span class="s1">'PHP_RUNTIME_PATH'</span><span class="p">)</span><span class="o">?:</span><span class="s1">'/tmp/'</span><span class="p">);</span></span>
<span id="LC13" class="line"><span class="nv">$http</span> <span class="o">=</span> <span class="nv">$app</span><span class="o">-&gt;</span><span class="na">http</span><span class="p">;</span></span>
<span id="LC14" class="line"></span>
<span id="LC15" class="line"><span class="nv">$response</span> <span class="o">=</span> <span class="nv">$http</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span></span>
<span id="LC16" class="line"></span>
<span id="LC17" class="line"><span class="nv">$response</span><span class="o">-&gt;</span><span class="na">send</span><span class="p">();</span></span>
<span id="LC18" class="line"></span>
<span id="LC19" class="line"><span class="nv">$http</span><span class="o">-&gt;</span><span class="na">end</span><span class="p">(</span><span class="nv">$response</span><span class="p">);</span></span></pre></div></div>
      <p>函数计算入口<code>index.php</code>中，添加：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"></span>
<span id="LC2" class="line"><span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nv">$request</span><span class="p">,</span> <span class="nv">$context</span><span class="p">)</span> <span class="o">:</span> <span class="nx">Response</span></span>
<span id="LC3" class="line"><span class="p">{</span>   </span>
<span id="LC4" class="line">       <span class="c1">//设置thinkphp根目录</span></span>
<span id="LC5" class="line">    <span class="nv">$appPath</span><span class="o">=</span><span class="k">__DIR__</span> <span class="o">.</span> <span class="s1">'/tp'</span><span class="p">;</span></span>
<span id="LC6" class="line">    <span class="k">require</span> <span class="nv">$appPath</span> <span class="o">.</span> <span class="s1">'/vendor/autoload.php'</span><span class="p">;</span></span>
<span id="LC7" class="line">    <span class="k">return</span> <span class="p">(</span><span class="k">new</span> <span class="nx">FcThink</span><span class="p">(</span><span class="nv">$request</span><span class="p">,</span> <span class="nv">$context</span><span class="p">,[</span><span class="s1">'root'</span><span class="o">=&gt;</span> <span class="nv">$appPath</span><span class="p">,</span> <span class="s1">'runtime_path'</span><span class="o">=&gt;</span><span class="s1">'/tmp/'</span><span class="p">]))</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span></span>
<span id="LC8" class="line"><span class="p">}</span></span></pre></div></div>
      <h2>
        <a id="api-reference" class="anchor" href="#api-reference"></a>API Reference</h2>
      <h3>
        <a id="fcthink__construct" class="anchor" href="#fcthink__construct"></a>FcThink::__construct</h3>
      <p><code>\Psr\Http\Message\ServerRequestInterface $fcRequest,array $context,$config = []</code></p>
      <h4>
        <a id="fcrequest" class="anchor" href="#fcrequest"></a>$fcRequest</h4>
      <p>函数计算中http触发器传入的$request参数，遵循 PSR（HTTP message interfaces）标准。更多详情请参见 <a href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-7-http-message.md?spm=a2c4g.11186623.2.16.2ed5114fpZwWPC&amp;file=PSR-7-http-message.md">PSR-7-http-message</a>。具体的代码定义遵循 <a href="https://github.com/php-fig/http-message?spm=a2c4g.11186623.2.17.2ed5114fpZwWPC">PSR Http Message</a>。</p>
      <h4>
        <a id="context" class="anchor" href="#context"></a>$context</h4>
      <p>函数计算中http触发器传入的context 参数，参见<a href="https://help.aliyun.com/document_detail/89029.html?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">PHP 事件函数 中的 $context参数</a></p>
      <h4>
        <a id="config" class="anchor" href="#config"></a>$config</h4>
      <p>配置参数，默认值为：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"></span>
<span id="LC2" class="line"> <span class="p">[</span></span>
<span id="LC3" class="line">      <span class="s1">'is_cli'</span>       <span class="o">=&gt;</span> <span class="kc">false</span><span class="p">,</span><span class="c1">//是否为cli模式，默认为cgi模式</span></span>
<span id="LC4" class="line">      <span class="s1">'ignore_file'</span>  <span class="o">=&gt;</span> <span class="kc">false</span><span class="p">,</span><span class="c1">//是否检测请求路径为存在的文件，如果忽略，则交由thinkphp 入库函数处理，默认为false，即若请求路径为文件(php后缀名除外)，直接返回文件内容</span></span>
<span id="LC5" class="line">      <span class="s1">'root'</span>         <span class="o">=&gt;</span> <span class="s1">'/code/tp'</span><span class="p">,</span><span class="c1">//thinkphp项目的root_path</span></span>
<span id="LC6" class="line">      <span class="s1">'runtime_path'</span> <span class="o">=&gt;</span> <span class="s1">'/tmp/'</span><span class="p">,</span><span class="c1">//缓存目录</span></span>
<span id="LC7" class="line">    <span class="p">];</span></span></pre></div></div>
      <h2>
        <a id="新手入门" class="anchor" href="#%E6%96%B0%E6%89%8B%E5%85%A5%E9%97%A8"></a>新手入门</h2>
      <p>首次使用函数计算，可以参照一下步骤：</p>
      <h3>
        <a id="1准备" class="anchor" href="#1%E5%87%86%E5%A4%87"></a>1、准备</h3>
      <ul>
        <li>开通 <a href="https://www.aliyun.com/product/fc?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">函数计算</a>,每月免费100万次请求，免费40万(CU-秒)执行时间，日IP在1000以下的博客站足够用。</li>
        <li>(可选)开通oss</li>
        <li>(可选)开通NAS</li>
        <li>域名</li>
      </ul>
      <blockquote>
        <p>注：NAS和OSS主要用于储存上传文件，如无需要可不开通</p>
      </blockquote>
      <h3>
        <a id="2安装和配置fun工具" class="anchor" href="#2%E5%AE%89%E8%A3%85%E5%92%8C%E9%85%8D%E7%BD%AEfun%E5%B7%A5%E5%85%B7"></a>2、安装和配置fun工具</h3>
      <p>安装和配置参见：<a href="https://help.aliyun.com/document_detail/161136.html?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">安装Fun</a></p>
      <h3>
        <a id="3在函数计算控制台创建服务" class="anchor" href="#3%E5%9C%A8%E5%87%BD%E6%95%B0%E8%AE%A1%E7%AE%97%E6%8E%A7%E5%88%B6%E5%8F%B0%E5%88%9B%E5%BB%BA%E6%9C%8D%E5%8A%A1"></a>3、在函数计算控制台创建服务</h3>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/1.png" alt="进入控制台创建服务1.png"></p>
      <p>输入名称<code>test-think</code>,可选择绑定日志,点击创建。</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/2.png" alt="输入名称2.png"></p>
      <p>创建成功后，可在服务配置中修改相关配置(角色权限、日志、NAS等等)，具体参见函数计算和RAM相关文档。</p>
      <h3>
        <a id="4创建函数和http触发器" class="anchor" href="#4%E5%88%9B%E5%BB%BA%E5%87%BD%E6%95%B0%E5%92%8Chttp%E8%A7%A6%E5%8F%91%E5%99%A8"></a>4、创建函数和http触发器</h3>
      <p>在上个步骤中创建的<code>test-think</code>服务器下创建一个函数<code>fc</code></p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/4-1.png" alt="创建函数4-1.png"></p>
      <p>选择HTTP函数</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/4-2.png" alt="选择HTTP函数4-2.png"></p>
      <p>输入函数名称<code>test-fun</code>,选择php7.2运行环境，其他可默认，触发器中，输入触发器名称<code>test-fun</code>,认证方式选择<code>anonymous</code>,请求方式按照需求选择，这里全选。</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/4-3.png" alt="配置函数和触发器4-3.png"></p>
      <h3>
        <a id="5配置自定义域名" class="anchor" href="#5%E9%85%8D%E7%BD%AE%E8%87%AA%E5%AE%9A%E4%B9%89%E5%9F%9F%E5%90%8D"></a>5、配置自定义域名</h3>
      <p>在控制台自定义域名下，创建一个自定义域名，绑定到上个步骤中创建的函数</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/5-1.png" alt="配置自定义域名5-1.png"></p>
      <h3>
        <a id="6下载代码安装" class="anchor" href="#6%E4%B8%8B%E8%BD%BD%E4%BB%A3%E7%A0%81%E5%AE%89%E8%A3%85"></a>6、下载代码安装</h3>
      <p>回到第4步创建的函数<code>test-fun</code>概览界面，点击导出，选择导出配置和代码。</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/6-1.png" alt="导出配置和代码6-1.png"></p>
      <p>下载并解压到本地，目录结构如下：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line">    /</span>
<span id="LC2" class="line">      test-think</span>
<span id="LC3" class="line">        test-fun</span>
<span id="LC4" class="line">          index.php</span>
<span id="LC5" class="line">      template.yml</span></pre></div></div>
      <p>进入 <code>test-fun</code>目录：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="nb">cd </span>test-think/test-fun</span></pre></div></div>
      <p>创建tp应用(如果已有项目，可跳过此步骤，直接复制项目到此<code>test-think/test-fun</code>目录下)</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line">composer create-project topthink/think tp</span></pre></div></div>
      <blockquote>
        <p>注：thinkphp 6.0.3中，session的file驱动中缓存目录指定为<code>/rumtime</code>，而这个目录在函数计算时不可写的，会出现错误。
          最新的<code>6.0.x-dev</code>开发版中，已经修复这个bug，在发布新版本之前需要使用这个版本:<code>composer require topthink/framework 6.0.x-dev</code>
          参见：<a href="https://github.com/top-think/framework/pull/2300/commits/264a79521b3062788f5e6cd3c603974ceb63df7e">https://github.com/top-think/framework/pull/2300/commits/264a79521b3062788f5e6cd3c603974ceb63df7e</a></p>
      </blockquote>
      <p>转到项目目录<code>tp</code>,并安装<code>liuwave/fc-thinkphp</code></p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="nb">cd </span>tp</span>
<span id="LC2" class="line">composer require liuwave/fc-thinkphp</span></pre></div></div>
      <h3>
        <a id="7修改test-thinktest-funindexphp" class="anchor" href="#7%E4%BF%AE%E6%94%B9test-thinktest-funindexphp"></a>7.修改<code>test-think/test-fun/index.php</code>:</h3>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="cp">&lt;?php</span></span>
<span id="LC2" class="line"><span class="kn">use</span> <span class="nn">RingCentral\Psr7\Response</span><span class="p">;</span></span>
<span id="LC3" class="line"><span class="kn">use</span> <span class="nn">liuwave\fc\think\FcThink</span><span class="p">;</span></span>
<span id="LC4" class="line"></span>
<span id="LC5" class="line"><span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nv">$request</span><span class="p">,</span> <span class="nv">$context</span><span class="p">)</span> <span class="o">:</span> <span class="nx">Response</span></span>
<span id="LC6" class="line"><span class="p">{</span></span>
<span id="LC7" class="line">        <span class="c1">//设置thinkphp根目录</span></span>
<span id="LC8" class="line">    <span class="nv">$appPath</span><span class="o">=</span><span class="k">__DIR__</span> <span class="o">.</span> <span class="s1">'/tp'</span><span class="p">;</span></span>
<span id="LC9" class="line">    <span class="k">require</span> <span class="nv">$appPath</span> <span class="o">.</span> <span class="s1">'/vendor/autoload.php'</span><span class="p">;</span></span>
<span id="LC10" class="line">    <span class="k">return</span> <span class="p">(</span><span class="k">new</span> <span class="nx">FcThink</span><span class="p">(</span><span class="nv">$request</span><span class="p">,</span> <span class="nv">$context</span><span class="p">,[</span><span class="s1">'root'</span><span class="o">=&gt;</span> <span class="nv">$appPath</span><span class="p">,</span> <span class="s1">'runtime_path'</span><span class="o">=&gt;</span><span class="s1">'/tmp/'</span><span class="p">]))</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span></span>
<span id="LC11" class="line"><span class="p">}</span></span></pre></div></div>
      <p>修改tp入口文件<code>test-think/test-fun/tp/public/index.php</code>(仅在cgi模式下需要修改):</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="cp">&lt;?php</span></span>
<span id="LC2" class="line"></span>
<span id="LC3" class="line"><span class="c1">// [ 应用入口文件 ]</span></span>
<span id="LC4" class="line"><span class="kn">namespace</span> <span class="nn">think</span><span class="p">;</span></span>
<span id="LC5" class="line"></span>
<span id="LC6" class="line"></span>
<span id="LC7" class="line"><span class="k">require</span> <span class="k">__DIR__</span> <span class="o">.</span> <span class="s1">'/../vendor/autoload.php'</span><span class="p">;</span></span>
<span id="LC8" class="line"></span>
<span id="LC9" class="line"><span class="c1">// 执行HTTP应用并响应</span></span>
<span id="LC10" class="line"><span class="c1">// $http = (new App())-&gt;http;</span></span>
<span id="LC11" class="line"><span class="nv">$app</span><span class="o">=</span><span class="k">new</span> <span class="nx">App</span><span class="p">();</span></span>
<span id="LC12" class="line"><span class="nv">$app</span><span class="o">-&gt;</span><span class="na">setRuntimePath</span><span class="p">(</span><span class="nb">getenv</span><span class="p">(</span><span class="s1">'PHP_RUNTIME_PATH'</span><span class="p">)</span><span class="o">?:</span><span class="s1">'/tmp/'</span><span class="p">);</span></span>
<span id="LC13" class="line"><span class="nv">$http</span> <span class="o">=</span> <span class="nv">$app</span><span class="o">-&gt;</span><span class="na">http</span><span class="p">;</span></span>
<span id="LC14" class="line"></span>
<span id="LC15" class="line"><span class="nv">$response</span> <span class="o">=</span> <span class="nv">$http</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span></span>
<span id="LC16" class="line"></span>
<span id="LC17" class="line"><span class="nv">$response</span><span class="o">-&gt;</span><span class="na">send</span><span class="p">();</span></span>
<span id="LC18" class="line"></span>
<span id="LC19" class="line"><span class="nv">$http</span><span class="o">-&gt;</span><span class="na">end</span><span class="p">(</span><span class="nv">$response</span><span class="p">);</span></span></pre></div></div>
      <h3>
        <a id="8部署代码" class="anchor" href="#8%E9%83%A8%E7%BD%B2%E4%BB%A3%E7%A0%81"></a>8、部署代码</h3>
      <p>转到根目录<code>/</code>:</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="c"># 当前是`test-think/test-fun/tp`</span></span>
<span id="LC2" class="line"><span class="nb">cd</span> ../../../</span>
<span id="LC3" class="line"></span></pre></div></div>
      <p>执行部署命令(权限策略配置请参考阿里云相关文档)：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line">fun deploy <span class="nt">-y</span></span></pre></div></div>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/8-1.png" alt="执行结果8-1.png"></p>
      <p>访问<code>http://test-think.oldmen.cn/</code>,已成功安装：</p>
      <p><img src="https://assets.oldmen.cn/fc-thinkphp/docs/images/8-2.png" alt="执行结果8-2.png"></p>
      <h2>
        <a id="参考" class="anchor" href="#%E5%8F%82%E8%80%83"></a>参考</h2>
      <h3>
        <a id="cli模式-vs-cgi模式" class="anchor" href="#cli%E6%A8%A1%E5%BC%8F-vs-cgi%E6%A8%A1%E5%BC%8F"></a>Cli模式 vs cgi模式</h3>
      <p>默认为cgi模式，可切换为cli模式。</p>
      <h4>
        <a id="cgi模式" class="anchor" href="#cgi%E6%A8%A1%E5%BC%8F"></a>CGI模式</h4>
      <p>cgi不能在thinkphp项目中调用函数计算内置功能的对象如fcLogger/fcPhpCgiProxy/fcSysLogger。</p>
      <p>cgi是通过函数计算提供的$GLOBALS['fcPhpCgiProxy'] 对象实现：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"></span>
<span id="LC2" class="line"> <span class="nx">requestPhpCgi</span><span class="p">(</span><span class="nv">$request</span><span class="p">,</span> <span class="nv">$docRoot</span><span class="p">,</span> <span class="nv">$phpFile</span> <span class="o">=</span> <span class="s2">"index.php"</span><span class="p">,</span> <span class="nv">$fastCgiParams</span> <span class="o">=</span> <span class="p">[],</span> <span class="nv">$options</span> <span class="o">=</span> <span class="p">[]);</span></span>
<span id="LC3" class="line"></span></pre></div></div>
      <ul>
        <li>$request: 跟 php http 触发器 入口的参数一致</li>
        <li>$docRoot: thinkphp项目的根目录</li>
        <li>$phpFile: 用于拼接 cgi 参数中的 SCRIPT_FILENAME 的默认参数</li>
        <li>$fastCgiParams: 函数计算内部尽量根据fastCgiParams`覆盖一些参数 (reference: <a href="https://en.wikipedia.org/wiki/Common_Gateway_Interface">cgi</a>)</li>
        <li>$options: array类型，可选参数， debug_show_cgi_params 设为 true ，会打印每次请求 php 解析时候的 cgi 参数， 默认为 false ；readWriteTimeout 设置解析的时间， 默认为 5 秒</li>
      </ul>
      <h4>
        <a id="cli模式" class="anchor" href="#cli%E6%A8%A1%E5%BC%8F"></a>CLI模式</h4>
      <p>CLI模式支持在thinkphp项目中调用函数计算内置功能的对象如fcLogger/fcPhpCgiProxy/fcSysLogger。</p>
      <p>参见<a href="https://github.com/liuwave/think-log-driver-sls">liuwave/think-log-driver-sls</a></p>
      <h3>
        <a id="vpc权限" class="anchor" href="#vpc%E6%9D%83%E9%99%90"></a>VPC权限</h3>
      <p>如需访问OSS、NAS等资源，需要配置VPC访问权限：<a href="https://help.aliyun.com/knowledge_detail/72959.html?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">配置 VPC 功能</a></p>
      <h3>
        <a id="使用oss上传文件" class="anchor" href="#%E4%BD%BF%E7%94%A8oss%E4%B8%8A%E4%BC%A0%E6%96%87%E4%BB%B6"></a>使用OSS上传文件</h3>
      <p>参考：<a href="https://github.com/liuwave/think-filesystem-driver-oss">liuwave/think-filesystem-driver-oss</a></p>
      <h3>
        <a id="使用nas" class="anchor" href="#%E4%BD%BF%E7%94%A8nas"></a>使用NAS</h3>
      <p>参见：<a href="https://help.aliyun.com/document_detail/87401.html?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">挂载NAS访问</a></p>
      <h3>
        <a id="日志服务" class="anchor" href="#%E6%97%A5%E5%BF%97%E6%9C%8D%E5%8A%A1"></a>日志服务</h3>
      <p>兼容函数计算</p>
      <p>参考：<a href="https://github.com/liuwave/think-log-driver-sls">liuwave/think-log-driver-sls</a></p>
      <h3>
        <a id="开启调试数据库配置" class="anchor" href="#%E5%BC%80%E5%90%AF%E8%B0%83%E8%AF%95%E6%95%B0%E6%8D%AE%E5%BA%93%E9%85%8D%E7%BD%AE"></a>开启调试、数据库配置</h3>
      <p>使用fun部署代码时，会忽略<code>.env</code>，若要开启thinkphp的调试功能、配置数据库，可参照以下方法：</p>
      <p>方法一、在部署之后手动添加<code>env</code>文件</p>
      <p>在函数计算管理后台，将相关配置写入<code>.env</code>文件(<code>test-think/test-fun/tp/.env</code>(以上文为例))。</p>
      <p>方法二、在函数计算项目的根目录下的<code>/template.yml</code>设置环境变量（以上文为例）：</p>
      <blockquote>
        <p>注： 需要在添加<code>PHP_</code>前缀，同时需要把<code>.</code>换成<code>_</code>, 并转化成大写，如 <code>PHP_APP_DEBUG</code> 、<code>PHP_DATABASE_TYPE</code>、<code>PHP_DATABASE_HOSTNAME</code></p>
      </blockquote>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="na">ROSTemplateFormatVersion</span><span class="pi">:</span> <span class="s1">'</span><span class="s">2015-09-01'</span></span>
<span id="LC2" class="line"><span class="na">Transform</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Aliyun::Serverless-2018-04-03'</span></span>
<span id="LC3" class="line"><span class="na">Resources</span><span class="pi">:</span> </span>
<span id="LC4" class="line">  <span class="na">test-think</span><span class="pi">:</span> <span class="c1">#这是服务</span></span>
<span id="LC5" class="line">    <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Aliyun::Serverless::Service'</span></span>
<span id="LC6" class="line">    <span class="na">Properties</span><span class="pi">:</span></span>
<span id="LC7" class="line">      <span class="na">Role</span><span class="pi">:</span> <span class="s1">'</span><span class="s">acs:ram::****:role/fc-think-test-role'</span></span>
<span id="LC8" class="line">      <span class="na">LogConfig</span><span class="pi">:</span></span>
<span id="LC9" class="line">        <span class="na">Project</span><span class="pi">:</span> <span class="s">aliyun-fc-cn-beijing-*****</span></span>
<span id="LC10" class="line">        <span class="na">Logstore</span><span class="pi">:</span> <span class="s">function-log</span></span>
<span id="LC11" class="line">      <span class="na">InternetAccess</span><span class="pi">:</span> <span class="no">true</span></span>
<span id="LC12" class="line">    <span class="na">test-fun</span><span class="pi">:</span> <span class="c1"># 函数名</span></span>
<span id="LC13" class="line">      <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Aliyun::Serverless::Function'</span></span>
<span id="LC14" class="line">      <span class="na">Properties</span><span class="pi">:</span></span>
<span id="LC15" class="line">        <span class="na">Handler</span><span class="pi">:</span> <span class="s">index.handler</span></span>
<span id="LC16" class="line">        <span class="na">Runtime</span><span class="pi">:</span> <span class="s">php7.2</span></span>
<span id="LC17" class="line">        <span class="na">Timeout</span><span class="pi">:</span> <span class="m">60</span></span>
<span id="LC18" class="line">        <span class="na">MemorySize</span><span class="pi">:</span> <span class="m">128</span></span>
<span id="LC19" class="line">        <span class="na">EnvironmentVariables</span><span class="pi">:</span> <span class="c1">#环境变量</span></span>
<span id="LC20" class="line">          <span class="na">LD_LIBRARY_PATH</span><span class="pi">:</span> <span class="pi">&gt;-</span></span>
<span id="LC21" class="line">            <span class="s">/code/.fun/root/usr/local/lib:/code/.fun/root/usr/lib:/code/.fun/root/usr/lib/x86_64-linux-gnu:/code/.fun/root/usr/lib64:/code/.fun/root/lib:/code/.fun/root/lib/x86_64-linux-gnu:/code/.fun/root/python/lib/python2.7/site-packages:/code/.fun/root/python/lib/python3.6/site-packages:/code:/code/lib:/usr/local/lib</span></span>
<span id="LC22" class="line">          <span class="na">NODE_PATH</span><span class="pi">:</span> <span class="s1">'</span><span class="s">/code/node_modules:/usr/local/lib/node_modules'</span></span>
<span id="LC23" class="line">          <span class="na">PATH</span><span class="pi">:</span> <span class="pi">&gt;-</span></span>
<span id="LC24" class="line">            <span class="s">/code/.fun/root/usr/local/bin:/code/.fun/root/usr/local/sbin:/code/.fun/root/usr/bin:/code/.fun/root/usr/sbin:/code/.fun/root/sbin:/code/.fun/root/bin:/code:/code/node_modules/.bin:/code/.fun/python/bin:/code/.fun/node_modules/.bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/sbin:/bin</span></span>
<span id="LC25" class="line">          <span class="na">PYTHONUSERBASE</span><span class="pi">:</span> <span class="s">/code/.fun/python</span></span>
<span id="LC26" class="line">          <span class="na">PHP_APP_DEBUG</span><span class="pi">:</span> <span class="no">true</span></span>
<span id="LC27" class="line">          <span class="na">PHP_DATABASE_TYPE</span><span class="pi">:</span> <span class="s">mysql</span></span>
<span id="LC28" class="line">          <span class="na">PHP_DATABASE_HOSTNAME</span><span class="pi">:</span> <span class="s">127.0.0.1</span></span>
<span id="LC29" class="line">          <span class="na">PHP_DATABASE_DATABASE</span><span class="pi">:</span> <span class="s">'test'</span></span>
<span id="LC30" class="line">          <span class="na">PHP_DATABASE_USERNAME</span><span class="pi">:</span> <span class="s">root</span></span>
<span id="LC31" class="line">          <span class="na">PHP_DATABASE_PASSWORD</span><span class="pi">:</span> <span class="s">'test'</span></span>
<span id="LC32" class="line">          <span class="na">PHP_DATABASE_HOSTPORT</span><span class="pi">:</span> <span class="m">3306</span></span>
<span id="LC33" class="line">          <span class="na">PHP_DATABASE_CHARSET</span><span class="pi">:</span> <span class="s">utf8</span></span>
<span id="LC34" class="line">          <span class="na">PHP_DATABASE_PREFIX</span><span class="pi">:</span>           <span class="s">'p_'</span></span>
<span id="LC35" class="line">        <span class="na">CodeUri</span><span class="pi">:</span> <span class="s">./test-think/test-fun</span></span>
<span id="LC36" class="line">      <span class="na">Events</span><span class="pi">:</span></span>
<span id="LC37" class="line">        <span class="na">test-fun</span><span class="pi">:</span></span>
<span id="LC38" class="line">          <span class="na">Type</span><span class="pi">:</span> <span class="s">HTTP</span></span>
<span id="LC39" class="line">          <span class="na">Properties</span><span class="pi">:</span></span>
<span id="LC40" class="line">            <span class="na">AuthType</span><span class="pi">:</span> <span class="s">anonymous</span></span>
<span id="LC41" class="line">            <span class="na">Methods</span><span class="pi">:</span></span>
<span id="LC42" class="line">              <span class="pi">-</span> <span class="s">GET</span></span>
<span id="LC43" class="line">              <span class="pi">-</span> <span class="s">POST</span></span>
<span id="LC44" class="line">              <span class="pi">-</span> <span class="s">PUT</span></span>
<span id="LC45" class="line">              <span class="pi">-</span> <span class="s">DELETE</span></span>
<span id="LC46" class="line">              <span class="pi">-</span> <span class="s">HEAD</span></span>
<span id="LC47" class="line">              <span class="pi">-</span> <span class="s">PATCH</span></span>
<span id="LC48" class="line"></span>
<span id="LC49" class="line"></span>
<span id="LC50" class="line"></span></pre></div></div>
      <p>方法三、在函数计算后台更改</p>
      <p>函数 <code>概览</code> 界面中，点击 <code>配置</code> ，在最下方 添加 或 删除环境变量，<code>键</code>的格式 参照 <code>方法二</code>。</p>
      <p>若使用并开启了<a href="https://github.com/liuwave/think-log-driver-sls">liuwave/think-log-driver-sls</a>可在函数计算的对应函数的日志查询功能中查看错误日志。</p>
      <h3>
        <a id="php环境配置" class="anchor" href="#php%E7%8E%AF%E5%A2%83%E9%85%8D%E7%BD%AE"></a>PHP环境配置</h3>
      <p>可在根目录 添加 <code>extension</code>文件夹，在其中放入额外的配置 <code>.ini</code>,比如修改文件上传大小的限制：</p>
      <div class="white"><div class="highlight"><pre><span id="LC1" class="line"><span class="c">#文件 /extension/filesize.ini</span></span>
<span id="LC2" class="line"><span class="py">upload_max_filesize</span> <span class="p">=</span> <span class="s">6m</span></span></pre></div></div>
      <h3>
        <a id="文件上传支持单文件和多文件上传" class="anchor" href="#%E6%96%87%E4%BB%B6%E4%B8%8A%E4%BC%A0%E6%94%AF%E6%8C%81%E5%8D%95%E6%96%87%E4%BB%B6%E5%92%8C%E5%A4%9A%E6%96%87%E4%BB%B6%E4%B8%8A%E4%BC%A0"></a>文件上传，支持单文件和多文件上传</h3>
      <p>参考：</p>
      <ul>
        <li><a href="https://www.kancloud.cn/manual/thinkphp6_0/1037639">thinkphp6.0上传文件</a></li>
        <li><a href="https://github.com/liuwave/think-filesystem-driver-oss">liuwave/think-filesystem-driver-oss</a></li>
      </ul>
      <blockquote>
        <p>注，函数计算限制，仅支持不超过6M大小的文件上传或下载，参见<a href="https://help.aliyun.com/document_detail/51907.html?source=5176.11533457&amp;userCode=re2rax3m&amp;type=copy">使用限制</a></p>
      </blockquote>
      <blockquote>
        <p>默认环境中，upload_max_filesize为 2M,可以参照上文<a href="#PHP%E7%8E%AF%E5%A2%83%E9%85%8D%E7%BD%AE">PHP环境配置</a>进行更改</p>
      </blockquote>
      <h2>
        <a id="bug提交" class="anchor" href="#bug%E6%8F%90%E4%BA%A4"></a>BUG提交</h2>
      <p><a href="https://github.com/liuwave/fc-thinkphp/issues">Issue</a></p>
      <h2>
        <a id="开源许可" class="anchor" href="#%E5%BC%80%E6%BA%90%E8%AE%B8%E5%8F%AF"></a>开源许可</h2>
      <p>The MIT License</p></div>
  </div>
</div>
</body>
</html>